In [48]:
import pandas as pd

df = pd.read_csv('Toyota.csv')

print("Shape of the dataset is: ")
print(df.shape)
print("\nSize of the dataset is: ")
print(df.size)
print("\nDatatypes of the dataset are: ")
print(df.dtypes)

Shape of the dataset is:
(1436, 11)

Size of the dataset is:
15796

Datatypes of the dataset are:
Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [49]:
print("Column names:\n", df.columns)

Column names:
 Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [50]:
print("Fuel type at 4th row is:", df.at[3, 'FuelType'])

Fuel type at 4th row is: Diesel

In [51]:
print("Value at 4th row and 2nd column is:", df.iloc[3, 1])

Value at 4th row and 2nd column is: 14950

In [52]:
print("Fuel type:\n", df['FuelType'])

Fuel type:
 0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [53]:
print("KM and HP and Automatic:\n", df[['KM', 'HP', 'Automatic']])

KM and HP and Automatic:
          KM   HP  Automatic
0     46986   90          0
1     72937   90          0
2     41711   90          0
3     48000   90          0
4     38500   90          0
...     ...  ...        ...
1431  20544   86          0
1432     ??   86          0
1433  17016   86          0
1434     ??   86          0
1435      1  110          0

[1436 rows x 3 columns]

In [54]:
print(df.iloc[0:5, 1:4])

   Price   Age     KM
0  13500  23.0  46986
1  13750  23.0  72937
2  13950  24.0  41711
3  14950  26.0  48000
4  13750  30.0  38500

In [55]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None

In [56]:
import numpy as np
df = df.replace(to_replace=['??', '????'], value=np.nan)

print(df)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0    NaN   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0    NaN      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

In [57]:
df['Doors'] = df['Doors'].replace({'two': 2, 'three': 3, 'four': 4, 'five': 5})
print(df['Doors'])

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: object

In [58]:
ukm = df['KM'].unique()
uhp = df['HP'].unique()
udoors = df['Doors'].unique()

print(f'unique KM values: {ukm}')
print(f'unique HP values: {uhp}')
print(f'unique Doors values: {udoors}')

unique KM values: ['46986' '72937' '41711' ... '30964' '20544' '17016']
unique HP values: ['90' nan '192' '110' '97' '71' '116' '98' '69' '86' '72' '107' '73']
unique Doors values: [3 '3' '5' '4' 4 5 '2']

In [59]:
df['Doors'] = pd.to_numeric(df['Doors']).astype('Int64')
df['MetColor'] = pd.to_numeric(df['MetColor']).astype('Int64')
df['Automatic'] = pd.to_numeric(df['Automatic']).astype('Int64')
print(df[['Doors', 'MetColor', 'Automatic']].dtypes)

Doors        Int64
MetColor     Int64
Automatic    Int64
dtype: object

In [60]:
null = df.isnull().sum()
print(null)

Unnamed: 0      0
Price           0
Age           100
KM             15
FuelType      100
HP              6
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [61]:
df_clean = df.dropna()
print(df_clean)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90         1          0  2000
1              1  13750  23.0  72937   Diesel   90         1          0  2000
3              3  14950  26.0  48000   Diesel   90         0          0  2000
4              4  13750  30.0  38500   Diesel   90         0          0  2000
5              5  12950  32.0  61000   Diesel   90         0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1423        1423   7950  80.0  35821   Petrol   86         0          1  1300
1424        1424   7750  73.0  34717   Petrol   86         0          0  1300
1429        1429   8950  78.0  24000   Petrol   86         1          1  1300
1430        1430   8450  80.0  23000   Petrol   86         0          0  1300
1435        1435   6950  76.0      1   Petrol  110         0          0  1600

      Doors  Weight
0         3    1165
1         3    1165
3         3    1165
4         3    1170
5         3    1170
...     ...     ...
1423      3    1015
1424      3    1015
1429      5    1065
1430      3    1015
1435      5    1114

[1096 rows x 11 columns]

In [62]:
fuel = df[df['FuelType'].isin(['Petrol', 'Diesel', 'CNG'])]['FuelType'].value_counts()
print(fuel)

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [70]:
diesel = df[df['FuelType'] == 'Diesel'].copy()
diesel['KM'] = diesel['KM'].astype('Int64') 
print("Mean of KM for diesel cars:\n", diesel['KM'].mean())

Mean of KM for diesel cars:
 114927.87857142858